.text-styling{
    background-color: royalblue;
    color: white;
    border: rgb(15, 0, 128);
    border-style: double;
    border-width: 5px;
}

#ref1{
    text-align: center;
    color: red;
    background-color: white;
    border: rgb(15, 0, 128)
}