.text-styling{
    background-color: royalblue;
    color: white;
    border: rgb(15, 0, 128);
    border-style: double;
    border-width: 5px;
    padding: 1px;
    margin: 3px;
}

#ref1{
    text-align: center;
    color: red;
    background-color: grey;
    border: rgb(15, 0, 128);
    border-style: double;
    border-width: 5px;
    padding: 1px;
    margin: 3px;
}

a:hover{
    color: aqua;
}

img{
    height: 50px;
}